<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Style & Bootstrap -->
    <!-- <link rel="stylesheet" href="../../frontend/assets/bootstrap-5.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <link rel="stylesheet" href="../../frontend/assets/css/theme.css"> -->
    <link rel="stylesheet" href="../assets/bootstrap-5.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    
    <!-- Icons  -->
    <link rel="stylesheet" href="../assets/icons/bootstrap-icons.css">

    <!-- Fonts  -->
    <!-- <link rel="stylesheet" href="../assets/fonts/KantumruyPro-Bold.ttf">
    <link rel="stylesheet" href="../assets/fonts/KantumruyPro-Regular.ttf">
    <link rel="stylesheet" href="../assets/fonts/Poppins-Bold.ttf">
    <link rel="stylesheet" href="../assets/fonts/Poppins-Regular.ttf"> -->

</head>

<body>
    <footer class="bg-main text-white position-fixed bottom-0 w-100 py-4" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 mb-3">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/images/profile.png" alt="Logo" style="width: 75px" />
                    </a>
                    <p class="mt-2">
                        This platform provides career guidance, job information, scholarships, and opportunities
                        for Cambodian youth to make informed decisions about their future.
                    </p>
                </div>
    
                <div class="col-6 col-lg-4 mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/asset/page/us/about" class="text-white text-decoration-none">About Us</a></li>
                        <li><a href="/asset/page/us/contact" class="text-white text-decoration-none">Contact Us</a></li>
                        <li><a href="/asset/page/direction/major" class="text-white text-decoration-none">Career
                                Guidance</a></li>
                        <li><a href="/asset/page/us/event" class="text-white text-decoration-none">Events</a></li>
                    </ul>
                </div>
    
                <div class="col-6 col-lg-4 mb-3">
                    <h5>Contact</h5>
                    <p>Email: <a href="mailto:foryouthcambodia@gmail.com" class="text-white">foryouthcambodia@gmail.com</a>
                    </p>
                    <p>Phone: <a href="tel:+11234567890" class="text-white">(+885) 456 7890</a></p>
                </div>
            </div>
    
            <hr class="bg-light" />
            <div class="text-center">
                &copy; 2025 FYC. All Rights Reserved.
            </div>
        </div>
    </footer>



    <script  src="../assets/bootstrap-5.3.7/js/bootstrap.bundle.min.js"></script>
</body>

</html>