<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/bootstrap-5.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/theme.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="../assets/icons/bootstrap-icons.css">

    <!-- Fonts  -->
    <link rel="stylesheet" href="../assets/fonts/KantumruyPro-Bold.ttf">
    <link rel="stylesheet" href="../assets/fonts/KantumruyPro-Regular.ttf">
    <link rel="stylesheet" href="../assets/fonts/Poppins-Bold.ttf">
    <link rel="stylesheet" href="../assets/fonts/Poppins-Regular.ttf">

</head>

<body>
    



    <script src="../assets/bootstrap-5.3.7/js/bootstrap.bundle.min.js"></script>
</body>

</html>